<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="enumConverterSettings" type="Aliencube.EnumConverter.Configs.EnumConverterSettings, Aliencube.EnumConverter.Configs" requirePermission="false" />
    </configSections>

    <enumConverterSettings>
        <product status="active" />
    </enumConverterSettings>
</configuration>