<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="converterSettings" type="Aliencube.ConfigurationValueConverter.Configs.ConverterSettings, Aliencube.ConfigurationValueConverter.Configs" requirePermission="false" />
    </configSections>

    <converterSettings>
        <product status="active" productIds="1,2,3" />
    </converterSettings>
</configuration>